* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#box {
    width: 20rem;
    background-color: green;
    cursor: pointer;
    color: white;
    text-align: center;
    font-size: 25px;
    border-radius: 25px;
}
